.route-not-found {
    margin  : 30px ;
    padding  : 60px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}