.blog-name {
    margin: 30px;
    padding: 60px;
    text-align: center;
    background: white;
    img {
        height: 200px;
        width: 200px;
        align-self: center;
    }

    .title {
        margin: 8px;
        font-size: 25px;
        font-weight: 600;
    }

    .subTitle {
        margin: 8px;
        font-size: 25px;
        font-weight: 300;
    }
}

.contact-info {
    margin: 30px;
    color: black;
    .follow-me {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: 30px;
        justify-content: space-between;
        .platform {
            background-color: white;
            text-align: center;
            width: 22%;
            padding: 70px 0px;
            border-radius: 20px;
            a {
                text-decoration: none;
                color: black !important;
            }
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}