.blog-name {
    margin  : 30px ;
    padding  : 60px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info {
    background-color: white;
    margin: 30px;
    padding: 30px;
    color: black;
    .about-me, .popular-posts, .follow-me {
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: white;
        a {
            margin-right: 20px;
        }
        img {
            height: 50px;
            width: 50px;
        }
    }
}